@model SistemaContableCSG.ViewModels.RolesIndex

@{
    ViewData["Title"] = "Gestion de roles";
}

@section Css{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css" />
}

<div class="d-flex justify-content-center">
    <div id="loader" class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Cargando...</span>
    </div>
</div>

<h3>Roles</h3>
<hr class="mt-0"/>

@if ((await AuthorizationService.AuthorizeAsync(User, Permissions.GestionarRoles.Create)).Succeeded)
{
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalCrear">
        <i class="fa-solid fa-pen-ruler"></i> Crear Rol
    </button>
    <br />
    <br />
}
<table class="table table-bordered text-md-nowrap table-dark table-striped table-hover" id="datatable" style="width:100%">
    <thead>
        <tr>
            <th class="text-center align-middle">Nombre</th>
            @if ((await AuthorizationService.AuthorizeAsync(User, Permissions.GestionarRoles.Edit)).Succeeded || (await AuthorizationService.AuthorizeAsync(User, Permissions.GestionarRoles.Delete)).Succeeded)
            {
                <th class="text-center align-middle">Acciones</th>
            }
        </tr>
    </thead>
</table>

<!-- ModalCrear -->
<div class="modal" id="ModalCrear" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Creacion de rol</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="clearForm('FormRoleCreate')"></button>
            </div>
            <div class="modal-body">
                <form id="FormRoleCreate" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-floating">
                        <input asp-for="Name" class="form-control" placeholder=" " />
                        <label asp-for="Name" class="control-label"></label>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <span>Permisos</span>
                        <hr class="mt-0 mb-1" />
                        @foreach (var item in Model.Permisos)
                        {
                            <input class="form-check-input" type="checkbox" value="@item" name="permisos">
                            <label for="permisos" class="form-check-label">@item</label>
                            <br />
                        }
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="clearForm('FormRoleCreate')"><i class="fa-solid fa-xmark"></i> Cerrar</button>
                <button type="submit" form="FormRoleCreate" class="btn btn-primary"><i class="fa-solid fa-plus"></i> Crear</button>
            </div>
        </div>
    </div>
</div>

<!-- ModalEditar -->
<div class="modal" id="ModalEditar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edicion de rol</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="clearForm('FormRoleEdit')"></button>
            </div>
            <div class="modal-body">
                <form id="FormRoleEdit" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-floating">
                        <input id="NombreEdit" asp-for="Name" class="form-control" placeholder=" " />
                        <label asp-for="Name" class="control-label"></label>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <span>Permisos</span>
                        <hr class="mt-0 mb-1" />
                        @foreach (var item in Model.Permisos)
                        {
                            <input id="@item-Check" class="form-check-input" type="checkbox" value="@item" name="permisos">
                            <label for="permisos" class="form-check-label">@item</label>
                            <br />
                        }
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="clearForm('FormRoleEdit')"><i class="fa-solid fa-xmark"></i> Cerrar</button>
                <button type="submit" form="FormRoleEdit" class="btn btn-primary"><i class="fa-solid fa-floppy-disk"></i> Guardar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <partial name="../shared/_ValidationScriptsPartial" />

    <script>
        $('#datatable').DataTable({
            "columnDefs": [
                { "className": "dt-center align-middle", "targets": "_all" }
                @if ((await AuthorizationService.AuthorizeAsync(User, Permissions.GestionarRoles.Edit)).Succeeded || (await AuthorizationService.AuthorizeAsync(User, Permissions.GestionarRoles.Delete)).Succeeded)
                {
                    @:,{ 'targets': [1], 'orderable': false }
                }
            ],
            "scrollX": true,
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": "@Url.Action("rolesData","Roles")",
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                { "data": "name" }
                @if ((await AuthorizationService.AuthorizeAsync(User, Permissions.GestionarRoles.Edit)).Succeeded || (await AuthorizationService.AuthorizeAsync(User, Permissions.GestionarRoles.Delete)).Succeeded)
                {
                    <text>
                        ,{
                            "data": null,
                            "render": function (data) {
                                var editarButton = '';
                                var eliminarButton = '';
                                @if (((await AuthorizationService.AuthorizeAsync(User, Permissions.GestionarRoles.Edit)).Succeeded))
                                {
                                    @:editarButton = `<button class="btn btn-warning" onclick="consultarRol('${data.id}')"><i class="fa-solid fa-pen-to-square"></i> Editar</button> `;
                                }
                                @if (((await AuthorizationService.AuthorizeAsync(User, Permissions.GestionarRoles.Delete)).Succeeded))
                                {
                                    @:eliminarButton = `<button class="btn btn-danger" onclick="eliminarRol('${data.id}')"><i class="fa-solid fa-trash-can"></i> Eliminar</button> `;
                                }
                                return editarButton + eliminarButton;
                            }
                        }
                    </text>
                }
            ],
            "language": {
                "decimal": ".",
                "emptyTable": "No hay datos disponibles en la tabla",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ registros",
                "infoEmpty": "Mostrando del 0 al 0 de un todal de 0 registros",
                "infoFiltered": "(Filtrado de _MAX_ registros totales)",
                "lengthMenu": "Mostrar _MENU_ registros por página",
                "loadingRecords": "Cargando...",
                "processing": "",
                "search": "Buscar:",
                "zeroRecords": "No se encontraron resultados",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
                "aria": {
                    "sortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sortDescending": ": Activar para ordenar la columna de manera descendente"
                },
                "select": {
                    "rows": {
                        "1": "1 fila seleccionada",
                        "_": "%d filas seleccionadas"
                    }
                },
            }
        });

        function clearForm(form) {
            var formulario = document.getElementById(form);
            formulario.reset();
            $("input").removeClass('is-invalid');
            $("input").removeClass('is-valid');
        }

        $(document).ready(function () {
            $("#FormRoleCreate").submit(function (e) {
                e.preventDefault();

                if ($("#FormRoleCreate").valid()) {
                    var formData = $(this).serialize();

                    $.ajax({
                        url: "@Url.Action("Create","Roles")",
                        type: "POST",
                        data: formData,
                        beforeSend: function () {
                            $("#loader").css('visibility', 'visible');
                            $('#loader').show();
                        },
                        complete: function () {
                            $('#loader').fadeOut("slow");
                        },
                        success: function (data) {
                            $("#ModalCrear").modal("hide");
                            clearForm("FormRoleCreate");
                            mostrarAlert(data.msj, data.status);
                            $('#datatable').DataTable().ajax.reload();
                        },
                        error: function (xhr) {
                            if (xhr.status === 403) {
                                window.location.href = "/AccesoDenegado";
                            }
                        }
                    });
                }
            });
        });

        var rolId;

        function consultarRol(id) {
            rolId = id;
            $.ajax({
                url: "@Url.Action("editarData","Roles")",
                type: "GET",
                data: {
                    'IdRol': id,
                },
                beforeSend: function () {
                    $("#loader").css('visibility', 'visible');
                    $('#loader').show();
                },
                complete: function () {
                    $('#loader').fadeOut("slow");
                },
                success: function (data) {

                    if (data.rol != null) {

                        $("#ModalEditar").modal("show");

                        document.getElementById("NombreEdit").value = data.rol.name;

                        for (var i = 0; i <= data.permisos.length - 1; i++) {
                            //utilizar .replace ya que el nombre de los permisos contiene caracteres especiales como '. o &' y jquery lo interpreta mal, se le debe indicar por medio de
                            // \\. que tome el '.' como un caracter
                            $('#' + data.permisos[i].replace(/\./g, '\\.').replace(/\&/g, '\\&') + '-Check').prop('checked', true);
                        }
                    }
                    else {
                        $("#ModalEditar").modal("hide");
                        $('#datatable').DataTable().ajax.reload();
                        mostrarAlert(msj, status);
                    }
                },
                error: function (xhr) {
                    if (xhr.status === 403) {
                        window.location.href = "/AccesoDenegado";
                    }
                }
            });
        }

        $(document).ready(function () {
            $("#FormRoleEdit").submit(function (e) {
                e.preventDefault();

                if ($("#FormRoleEdit").valid()) {
                    var formData = $(this).serialize();

                    $.ajax({
                        url: "@Url.Action("Edit","Roles")",
                        type: "PUT",
                        data: formData + "&id=" + rolId,
                        beforeSend: function () {
                            $("#loader").css('visibility', 'visible');
                            $('#loader').show();
                        },
                        complete: function () {
                            $('#loader').fadeOut("slow");
                        },
                        success: function (data) {
                            $("#ModalEditar").modal("hide");
                            clearForm("FormRoleEdit");
                            mostrarAlert(data.msj, data.status);
                            $('#datatable').DataTable().ajax.reload();
                        },
                        error: function (xhr) {
                            if (xhr.status === 403) {
                                window.location.href = "/AccesoDenegado";
                            }
                        }
                    });
                }
            });
        });

        function eliminarRol(id) {
            Swal.fire({
                title: 'Estas seguro de continuar?',
                text: "Esta accion no podra revertirse!",
                icon: 'warning',
                showCancelButton: true,
                allowOutsideClick: false,
                allowEscapeKey: false,
                confirmButtonText: 'Si, eliminar!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: "@Url.Action("Delete","Roles")",
                        type: "DELETE",
                        data: { "id": id },
                        beforeSend: function () {
                            $("#loader").css('visibility', 'visible');
                            $('#loader').show();
                        },
                        complete: function () {
                            $('#loader').fadeOut("slow");
                        },
                        success: function (data) {
                            $('#datatable').DataTable().ajax.reload();

                            mostrarAlert(data.msj, data.status);
                        },
                        error: function (xhr) {
                            if (xhr.status === 403) {
                                window.location.href = "/AccesoDenegado";
                            }
                        }
                    });
                }
            })
        }
        
        function mostrarAlert(msj, status) {
            Swal.fire({
                text: msj,
                icon: status,
                showCancelButton: false
            })
        }
    </script>
}